@model Employees
<!DOCTYPE html>
    <html>
    <head>
        <title>confirmation page</title>
    </head>
    <body>
        <h2>Employee @Model.EmployeeName  saved sucessfully</h2>
    
    </body>
    </html>